<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'ping/index.css' %}">

  <title>Experiment - IOTAMAK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <div class="topnav">
    <a href="/network">Network</a>
    <a class="active" href="/experiment">Experiment</a>
    <a href="/play">Play</a>
  </div>
    <form action="/experiment/new/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for entry in form %}
           <div>
                {{ entry.label_tag }}
           </div>
           <div>
               {{entry}}
           </div>
        {% endfor %}
        <button>
            Save!
        </button>
    </form>
</body>
</html>