<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'ping/index.css' %}">

  <title>Network - IOTAMAK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="topnav">
    <a class="active" href="/network">Network</a>
    <a href="/experiment">Experiment</a>
    <a href="/play">Play</a>
  </div>



  <form action='pressed' method='GET'>
    <button type='submit'> Ping clients</button>
  </form>

  <form action='update' method='GET'>
    <button type='submit'> Update clients</button>
  </form>

  <form action='agents' method='GET'>
    <button type='submit'> agents</button>
  </form>

  <table>
    <tr>
      <th>Hostname</th>
      <th>Username</th>
      <th>Status</th>
      <th>Active</th>
    </tr>
    {% for client in host_list %}
    <tr>
      <td>{{ client.hostname }}</td>
      <td>{{ client.username }}</td>
      <td>{{ client.status }}</td>
      <td>{{ client.active }}</td>
      <td><a href="/network/{{ client.id }}/activate">Enable/Disable</td>
    </tr>
    {% endfor %}
  </table>

  <form action='./agent/kill' method='GET'>
    <button type='submit'> Kill agents</button>
  </form>

  {% if agents %}
  <table>
    <tr>
      <th>Hostname</th>
      <th>Agent</th>
    </tr>
    {% for agent in agents %}
    <tr>
      <td>{{ agent.ip }}</td>
      <td>{{ agent.command }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No agents are available.</p>
  {% endif %}

</body>

</html>